@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

* {
    font-family: "Inder", serif;
    color: blanchedalmond;
    font-size: 30px;
}

.body-home {
    background-image: url(./image/fundofigma.png);
    background-size: cover; 
}

body {
    background-color: rgb(209, 179, 135);
}

.title-header img {                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
    width: 70%; 
    height: 80%;
    margin-top: 10px;
}

.header-principal {
    width: 100%;
    position: flex;
    top: 0;
    left: 0;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;    
}
 
.tamanho-menu {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    justify-content: flex-end;
    padding: 0 15%;
}

.botao {
    display: flex;
    justify-content: end;
    margin: 0 55px;
}

.botao-cartao {
    background-color: #814d07be;
    color: rgb(70, 22, 22);
    font-family: "Inder", serif;
    display: flex;
    justify-content: flex-end;                                                                                                                                                                                                              
    border-radius: 10px;
}

.itens-cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.itens {
    width: 30%; 
    text-align: center; 
    background: rgba(92, 38, 38, 0.589);
    padding: 10px;
    border-radius: 8px;
}

.itens img {
    width: 100%;
    height: 70%;
    border-radius: 8px;
}
       
.container {
    max-width: 600px;
    margin: auto;
    background: rgba(92, 38, 38, 0.589);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.total {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.botao-delete {
    background-color: rgb(148, 31, 31);
    color:rgb(209, 179, 135);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;

}

.botao-finalizar {
    background-color: rgb(78, 92, 56);
    border-radius: 5px;
}

button:hover {
    background-color: darkred;
}

.login-container {
    max-width: 600px;
    margin: auto;
    background: rgba(92, 38, 38, 0.589);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.entrar {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.linha {
    background-color: black;
    height: 1px;
    width: 30%;
}

.ajuste-linha {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button:hover {
    background-color: #218838;
}

.social-login {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.social-login img {
    border-radius: 10px;
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h6, .cadastro {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.cadastro:hover {
    color: rgb(99, 55, 55);
}