@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

* {
    font-family: "Inder", serif;
    color: blanchedalmond;
    font-size: 30px;
}

.body-home {
    background-image: url(./image/fundofigma.png);
    background-size: cover; 
}

body {
    background-color: rgb(209, 179, 135);
}

.title-header img {                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
    width: 70%; 
    height: 80%;
    margin-top: 10px;
}

.header-principal {
    width: 100%;
    position: flex;
    top: 0;
    left: 0;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;    
}
 
.tamanho-menu {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    justify-content: flex-end;
    padding: 0 15%;
}

.botao {
    display: flex;
    justify-content: end;
    margin: 0 55px;
}

.botao-cartao {
    background-color: #814d07be;
    color: rgb(70, 22, 22);
    font-family: "Inder", serif;
    display: flex;
    justify-content: flex-end;                                                                                                                                                                                                              
    border-radius: 10%;
}

.itens-cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.itens {
    width: 30%; 
    text-align: center; 
    background: rgba(92, 38, 38, 0.589);
    padding: 10px;
    border-radius: 8px;
}

.itens img {
    width: 100%;
    height: 70%;
    border-radius: 8px;
}

/* RESPONSIVIDADE*/


@media (max-width: 600px) {
    .menu {
        gap: 10px;
    }

    .tamanho-menu {
        display: flex;
    }

    .itens {
        width: 45%; /* 2 colunas no tablet */
    }

    h1 {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .itens {
        width: 90%; /* 1 item por linha no celular */
    }

    h1 {
        font-size: 40px;
    }

    .botao-cartao {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .menu {
        flex-direction: column;
        text-align: center;
    }

    h1 {
        font-size: 30px;
    }

    .botao-cartao {
        padding: 10px 20px;
        font-size: 16px;
    }
}